.montserrat-font{
  font-family: 'Montserrat', sans-serif;
}
.open-sans-font{
  font-family: 'Open Sans', sans-serif;
}



/* ---------------------*/
/* Project1*/
#gold {
    color: #ffbf00;
}


/* ---------Dropdown Navigation------------ */

.navbar {
    overflow: hidden;
    background-color: #333;
}

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: red;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 60px;
    }

/* Show the dropdown menu on hover */

/**/

/* --------------------- */

/* --------------------- */

#para{
align-content: center
}
#Reward{
  color: #ffbf00;
}
#BD{
  color: green;
  font-weight: bold;
}
#BDR{
  color: red;
  font-weight: bold;
}
#YU{
  color: red;
  font-weight: bold;
}
#CA{
  color: red;
  font-weight: bold;
}

img{
  padding: 5px;
  border-radius: 1000px;
  background: linear-gradient(45deg, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 6);
}
#social{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


    /*ul{
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  margin: 0 30px;
  transform: rotate(-20deg) skew(25deg);
  background: #ccc;
}

ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.5s ;
  display: flex !important;
  align-items: center;
  color: white;
  font-size: 30px !important;
}



ul li:hover span:nth-child(5){
  transform: translate(40px, -40px);
  opacity: 1;
}

ul li:hover span:nth-child(4){
  transform: translate(30px, -30px);
  opacity: .8;
}

ul li:hover span:nth-child(3){
  transform: translate(20px, -20px);
  opacity: .6;
}

ul li:hover span:nth-child(2){
  transform: translate(10px, -10px);
  opacity: .6;
}

ul li:hover span:nth-child(1){
  transform: translate(0,0);
  opacity: .2;
}



ul li:nth-child(1) span{
  background: #3b5999;
  color: white;
}

ul li:nth-child(2) span{
  background: #e4405f;
  color: white;
}

ul li:nth-child(3) span{
  background: #0077B5;
  color: white;
}

ul li:nth-child(4) span{
  background: rgb(0, 0, 0);
  color: white;
}

ul li:nth-child(5) span{
  background: rgb(29, 161, 242);
  color: white;
}

ul li:nth-child(6) span{
  background: DeepSkyBlue;
  color: white;
}*/
/*     
ul li:nth-child(7) span{
  background: DeepSkyBlue;
  color: white;*/
/*}*/
